<% result.each do |html_block, found| %>
  <div class="alert <%= found ? 'alert-success' : 'alert-danger' %>" role="alert">
    <strong><%= found ? t('search_result.found') : t('search_result.missing') %>: </strong><br />
    <samp><%= html_block %></samp>
  </div>
<% end %>
